# Build outputs and APKs
release_apk/*.apk
build/
**/build/

# Dart and Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# Android
.gradle/
**/android/.gradle/
**/android/local.properties
**/android/app/build/
**/android/app/release/

# Logs & temp
*.log
*.tmp
.DS_Store
.idea/
*.iml
*.jks
*.keystore
key.properties
release.env
*.pem
